.field {
    background: #8DB27E;
}

.main-wrapper {
    box-sizing: border-box;
    padding: 13px;
    margin: 200px auto;
    height: 300px;
    width: 600px;
}

.white-border {
    border: 3px #FFF solid;
}

.sub-wrapper {
    position: relative;
    height: 270px;
    width: 570px;
}

.center {
    border-radius: 50%;
    margin: 90px auto;
    height: 80px;
    width: 80px;
}

.sidefield-a {
    border-left: 0;
    height: 150px;
    width: 80px;
    position: absolute;
    top: 55px;
}

.sidefield-b {
    border-right: 0;
    height: 150px;
    width: 80px;
    position: absolute;
    top: 55px;
    right: 0;
}

.ball {
    border-radius: 50%;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    height: 15px;
    width: 15px;
}

.ball-right {
    position: relative;
    left: 76px;
}

.ball-mid {
    position: relative;
    left: 10px;
    top: -70px;
}

.ball-left {
    position: relative;
    left: -15px;
    bottom: -135px;
}